<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Flask</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('careers') }}">Careers</a></li>
        </ul>
    </nav>

    <!--
        defining a block, or an area, that we can inject content into from other pages.
        
        the double curly brackets contain an 'expression', which is outputtin something either onto the screen, or in this case, into our href.

        The curly bracket and percentage are for statements that control the flow of our template, suc as a for-loop, if-statement, or this block element.
    -->
    {% block content %}
    {% endblock %}

    
</body>
</html>